@charset "utf-8";

/* 공통 */
body{
    font-family:'Noto Sans KR',sans-serif;
    font-weight:200;
    font-size:15px;
    line-height:1.4em;
    color:#333;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;
}

/* header 부분 */
.header-wrap{margin:0 auto; max-width: 1750px; min-width:85px;}

.header-top-wrap {background: #f7f7f7;}
.header-top-wrap .top-box{margin:0 auto;padding:7px 0 8px;max-width:1200px;}
.header-top-wrap .top-box:after{content:"";display:block;clear:both;}
.header-top-wrap .top-box .top-left-box{float:left;}
.header-top-wrap .top-box .top-left-box ul li{float:left;margin:0 20px 0 0;}

.header-top-wrap .top-box .top-left-box ul li .utill-icokorea { display: block; margin-top: 3px; width: 36px; height: 24px; background: url(../images/top/korea.png) no-repeat;}
.header-top-wrap .top-box .top-left-box ul li .utill-icotweets { display: block; width: 28px; height: 28px; background: url(../images/top/tweets.png) no-repeat;}
.header-top-wrap .top-box .top-left-box ul li .utill-icofacebook { display: block; width: 28px; height: 28px; background: url(../images/top/facebook.png) no-repeat;}
.header-top-wrap .top-box .top-left-box ul li .utill-icoblog { display: block; width: 28px; height: 28px; background: url(../images/top/naver.png) no-repeat;}
.header-top-wrap .top-box .top-left-box ul li .utill-icoyoutub { display: block; width: 28px; height: 28px; background: url(../images/top/youtub.png) no-repeat;}
.header-top-wrap .top-box .top-left-box ul li .utill-icoinstagram { display: block; width: 28px; height: 28px; background: url(../images/top/instagram.png) no-repeat;}
.header-top-wrap .top-box .top-left-box ul li .utill-icokakaostoy { display: block; width: 28px; height: 28px; background: url(../images/top/kakaostoy.png) no-repeat;}

.header-top-wrap .top-box .top-right-box { float:right; line-height: 1.7; }
.header-top-wrap .top-box .top-right-box ul li{position:relative;float:left;margin:0 18px 0 0;padding:0 19px 0 0;}
.header-top-wrap .top-box .top-right-box ul li:after{content:"";position:absolute;top:8px;right:0;width:1px;height:11px;border-right:1px solid #8b8080;}
.header-top-wrap .top-box .top-right-box ul li:last-of-type{margin:0;padding:0;}
.header-top-wrap .top-box .top-right-box ul li:last-of-type:after{display:none;}
.header-top-wrap .top-box .top-right-box ul li a{font-size:13px;color:#8b8080;}

.header-bottom-wrap{position:relative;z-index:20;background-color:#fff;border-bottom:1px solid #e1e1e1;box-sizing:border-box;}
.header-bottom-wrap .bottom-box{position:relative;margin:0 auto;max-width:1200px;}
.header-bottom-wrap .bottom-box:after{content:"";display:block;clear:both;}

.header-bottom-wrap .bottom-box h1{float:left;padding:21px 0 14px;}
.header-bottom-wrap .bottom-box h1 img {width: 90%;}

.gnb{float:left;}
.gnb-ul{padding:35px 0 0;}
.gnb-ul:after{content:"";display:block;clear:both;}
.gnb-ul > li{float:left;padding: 0 45px 30px 15px;}
.gnb-ul > li:last-of-type{padding:0 0 32px 0;}
.gnb-ul > li > a{font-weight:bold;font-size:17px;}


.menu-toggle{float: right; padding: 20px;}

/* container */
.container{margin:0 auto;max-width: 1750px; padding:0 10px;}

/* visual */
.main-visual-wrap { max-width:1750px; overflow:hidden;}

.main-visual-box { position: relative;}
.main-visual-img-box{ position: relative; overflow: hidden;}
.main-visual-img-box .item01 img {margin-top: -17%; margin-bottom: -9%; width: 100%;}

.main-visual-box .control-wrap-box { margin:0 auto;padding:0 0 85px;max-width:1200px; }
.main-visual-box .control-wrap{ position:absolute;top:calc(50% - 34px);left:0;z-index:10;width:100%;height:0;transform:translateY(-50%);-ms-transform:translateY(-50%);}
.main-visual-box .control-wrap:after{content:"";display:block;clear:both;}
.main-visual-box .control-wrap .prev{float:left;background:url(/images/button/btn-main-link-prev-off.gif) no-repeat 0 0;}
/* .main-visual-box .control-wrap .prev:hover{background-image:url(/_res/kosha/img/main/btn-main-link-prev-on.gif);} */
.main-visual-box .control-wrap .next{float:right;background:url(/images/button/btn-main-link-next-off.gif) no-repeat 0 0;}
/* .main-visual-box .control-wrap .next:hover{background-image:url(/_res/kosha/img/main/btn-main-link-next-on.gif);} */



.bgwhite {top: 0; left: 0; height: 100%; width: 100%; position: absolute; background: rgba(255, 255, 255, 0.4);}